.Button {
  padding: 6px 8px;
  position: relative;
  display: inline-block;

  border-radius: 4px;
  border-width: 1px;
  border-style: solid;

  transition: box-shadow ease-in-out 0.3s, transform ease-in-out 0.3s;

  box-shadow: 0 2px 4px rgba(0,0,0,0.10);
  text-decoration: none;
}

.Button:hover {
  z-index: 2;

  box-shadow: 0 4px 6px rgba(0,0,0,0.10);
  text-decoration: none;
}

.Button:focus {
  outline: 0px;
}

.Button--primary {
  background-color: #0033ff;
  color: #fff;
}

.Button--primary-outline {
  border-color: #0033ff;
  background-color: #fff;
  color: #0033ff;
}

.Button--accent {
  background-color: #0033ff;
  color: #fff;
}

.Button--accent-outline {
  border-color: #08A6FF;
  background-color: #fff;
  color: #000000;
  box-shadow: 0px 2px 4px rgba(2, 179, 255, 0.25);
}

.Button--accent-outline:hover {
  box-shadow: 0px 4px 6px rgba(2, 179, 255, 0.35);
}

.Button--accent-outline:focus {
  box-shadow: 0px 4px 6px rgba(2, 179, 255, 0.35), 0px 0px 0px 2px rgba(2, 179, 255, 0.8);
}

.Button--regular {
  background-color: #000000;
  color: #fff;
}

.Button--regular-outline {
  border-color: #ddd;
  background-color: #fff;
  color: #000000;
}

.Button--regular-outline:focus {
  box-shadow:
    0px 0px 0px 2px rgba(2, 179, 255, 1),
    0 4px 6px rgba(0,0,0,0.10);
}

.Button--lg {
  --shadow-high-height: 6px;
  --shadow-low-height: 4px;
  font-size: 1.2em;
  padding: 12px 16px;
}

:root {
  --shadow-high-height: 4px;
  --shadow-high-height: 2px;
}
