.Post > * {
  max-width: 760px;
  margin: 0 auto 64px;
  padding: 0 40px;
}

.Post-header {
  margin: 128px auto 64px;
}

.Post-title {
  margin: 0;
  font-size: 64px;
  line-height: 0.9em;
}

.Post-subheader {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
}

.Post-subheader > *:not(:first-child) {
  margin-left: 32px;
}

.Post-publishAt {
  color: #939699;
}

.Post-share {
  color: #939699;
}

.Post-body {
  font-size: 1.1em;
  line-height: 1.4em;
}

.Post-body a {
  text-decoration-color: rgb(0, 114, 255);
}
.Post-body a:hover {
  text-decoration-color: rgb(0, 114, 255, 0.3);
}

@media (max-width: 480px) {
  .Post > * {
    padding: 0 20px;
  }

  .Post-header {
    margin: 64px auto 32px;
  }

  .Post-title {
    font-size: 32px;
  }
}
