html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body, #app {
  min-height: 100vh;
}

a {
  color: black;
  transition: box-shadow ease-in-out 0.3s;
}

a:not([class]) {
  display: inline-block;
  border-radius: 4px;
  padding: 2px 4px;
  margin: -2px -4px;

  text-decoration-color: rgba(0,0,0,0.5);
}

a:not([class]):hover {
  text-decoration-color: rgba(0,0,0,0.1);
}

a:not([class]):focus {
  box-shadow:
    0 0 0 2px rgba(2, 92, 255, 0.68),
    0 0 6px rgba(2, 92, 255, 0.7);
  outline: none;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

code {
  background-color: #efefef;
  color: #333;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 80%;
}

pre > code {
  display: block;
  padding: 8px;
  overflow-y: auto;
}
