html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body, #app {
  min-height: 100vh;
}

.container {
  max-width: 960px;
  padding: 0 64px;
  margin: 0 auto;
}

a {
  color: black;
}

.App-view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  flex-grow: 0;
  flex-shrink: 0;
}

.App-body {
  flex-grow: 1;
  flex-shrink: 0;
}

.App-footer {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 32px 0;
}

.Hero-Logo {
  vertical-align: baseline;
  margin-left: -48px;
  margin-right: 16px;
}

.Hero {
  min-height: 40vh;
  display: grid;
  align-items: center;
}

.Hero-body {
  padding: 50px 0;
}

.Hero-header {
  margin: 0;
  font-size: 4em;
}

.Hero-intro {
  margin: 0;
  font-size: 1.3em;
  color: #999;
}

.PageHead-Logo {
  vertical-align: baseline;
  margin-left: -24px;
  margin-right: 8px;
}

.PageHead {
  display: grid;
  align-items: center;
}

.PageHead-body {
  padding: 24px 0;
}

.PageHead-header {
  margin: 0;
  font-size: 1em;
}

.PageHead-intro {
  margin: 0;
  font-size: 1em;
  color: #999;
}

.ProfileContacts {
  list-style: none;
  padding: 0;
  margin: 0 0 4em;
  display: inline-block;
}

.ProfileContacts-link {
  text-decoration: none;
}

.ProfileContacts-item {
  display: inline-block;
}

.ProfileContacts-item:not(:last-child) {
  margin: 0;
  margin-right: 0.5em;
}

.ProfileContacts-item:not(:last-child):after {
  content: "·";
  display: inline-block;
  margin-left: 0.5em;
  color: #999;
}

.Main {
  margin: 3em 0;
}

.Main-header {
  margin: 2em 0;
  font-size: 2em;
}

.ProjectList {
  list-style: none;
  padding: 0;
}

.ProjectList-item {
  margin: 0;
  margin-bottom: 1em;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 6px;
}

.ProjectList-desc {
  font-size: 90%;
}

.ProjectList-itemLink {
  text-decoration: none;
  display: block;
}

.Icon {
  vertical-align: middle;
}
