html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body, #app {
  min-height: 100vh;
}

.container {
  max-width: 960px;
  padding: 0 64px;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration-color: rgba(0,0,0,0.2);
}

a:hover {
  text-decoration-color: rgba(0,0,0,0.8);
}

.App-view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  flex-grow: 0;
  flex-shrink: 0;
}

.App-body {
  flex-grow: 1;
  flex-shrink: 0;
}

.App-footer {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 32px 0;
  color: #999;
}

.Inner-header {
  border-bottom: 1px solid #efefef;
}

.Hero-Logo {
  margin-right: 32px;
}

.Hero {
  min-height: 60vh;
  display: grid;
  align-items: center;
}

.Hero-body {
  padding: 50px 0;
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
}

.Hero-header {
  margin: 0;
  font-size: 4em;
}

.Hero-intro {
  margin: 0;
  font-size: 1.3em;
  color: #999;
}

.MainNavBar {
  display: grid;
  /* grid-template-columns: 50% 50%; */
  /* font-size: 1.2em; */
  align-items: end;
  padding: 24px 0;
}

.MainNavBar > :last-child {
  text-align: right;
}

.MainMenu a {
  text-decoration: none;
}

.Primal {
  min-height: 40vh;
  display: grid;
  align-items: end;
}

.Primal-body {
  padding: 4em 0;
}

.Primal-header {
  margin: 0;
  font-size: 2em;
}

.Primal-intro {
  margin: 0;
  font-size: 1.3em;
  color: #999;
}

.PageHead {
  display: grid;
  align-items: center;
}

.PageHead a {
  text-decoration: none;
}

.PageHead-logo {
  vertical-align: bottom;
  margin-right: 8px;
}

.PageHead-row {
  padding: 24px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  vertical-align: middle;
}

.PageHead-header {
  margin: 0;
  font-size: 1em;
}

.PageHead-menu {
  text-align: right;
}

.ProfileContacts {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.ProfileContacts-link {
  text-decoration: none;
}

.ProfileContacts-item {
  display: inline-block;
}

.ProfileContacts-item:not(:last-child) {
  margin: 0;
  margin-right: 0.5em;
}

.ProfileContacts-item:not(:last-child):after {
  content: "·";
  display: inline-block;
  margin-left: 0.5em;
  color: #999;
}

.Main {
  margin: 3em 0;
}

.Main-header {
  margin: 2em 0;
  font-size: 2em;
}

.MainMenu-link:not(:first-child) {
  margin-left: 16px;
}

.MainMenu-link--active {
  font-weight: bold;
}

.PageBody-title {
  font-size: 4em;
  margin: 1em 0 0;
}

.ProjectList {
  list-style: none;
  padding: 0;
}

.ProjectList-item {
  margin: 0;
  margin-bottom: 1em;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 6px;
}

.ProjectList-desc {
  font-size: 90%;
}

.ProjectList-itemLink {
  text-decoration: none;
  display: block;
}

.Icon {
  vertical-align: middle;
}

.PostList {
  list-style: none;
  padding: 0;
}

.PostList-groupItems {
  padding: 0;
  list-style: none;
}

.Button {
  padding: 6px 8px;
  position: relative;
  display: inline-block;

  border-radius: 4px;
  border-width: 1px;
  border-style: solid;

  transition: box-shadow ease-in-out 0.3s, transform ease-in-out 0.3s;

  box-shadow: 0 2px 2px rgba(0,0,0,0.15);
  text-decoration: none;
}

.Button:hover {
  z-index: 2;

  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  text-decoration: none;
}

.Button:focus {
  outline: 0px;
}

.Button--primary {
  background-color: #0033ff;
  color: #fff;
}

.Button--primary-outline {
  border-color: #0033ff;
  background-color: #fff;
  color: #0033ff;
}

.Button--accent {
  background-color: #0033ff;
  color: #fff;
}

.Button--accent-outline {
  border-color: #08A6FF;
  background-color: #fff;
  color: #000000;
  box-shadow: 0px 2px 4px rgba(2, 179, 255, 0.25);
}

.Button--accent-outline:hover {
  box-shadow: 0px 4px 6px rgba(2, 179, 255, 0.35);
}

.Button--accent-outline:focus {
  box-shadow: 0px 4px 6px rgba(2, 179, 255, 0.35), 0px 0px 0px 2px rgba(2, 179, 255, 0.8);
}

.Button--regular {
  background-color: #000000;
  color: #fff;
}

.Button--regular-outline {
  border-color: #cccccc;
  background-color: #fff;
  color: #000000;
}

.Button--lg {
  --shadow-high-height: 6px;
  --shadow-low-height: 4px;
  font-size: 1.2em;
  padding: 12px 16px;
}

:root {
  --shadow-high-height: 4px;
  --shadow-high-height: 2px;
}
