
.App-view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  flex-grow: 0;
  flex-shrink: 0;
}

.App-body {
  flex-grow: 1;
  flex-shrink: 0;
}

.App-footer {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 32px 0;

  color: #939699;
}

@media (max-width: 480px) {
  .App-footer {
    padding: 16px 0;
  }
}

.Inner-header {}
