
.PageHead {
  display: grid;
  align-items: center;
}

.PageHead a {
  text-decoration: none;
}

.PageHead-logo {
  vertical-align: bottom;
  margin-right: 8px;
}

.PageHead-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  align-items: center;

  padding: 24px 16px;
}

.PageHead-header {
  margin: 0;
  font-size: 1em;
}

.PageHead-menu {
  text-align: right;
}

.PageBody-title {
  font-size: 4em;
  margin: 1em 0 0;
}

@media (max-width: 480px) {
  .PageBody-title {
    font-size: 2em;
    margin: 1em 0 0;
  }
}
